<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-4xkexelvrWgzsYj_TPgRZ6yDydAwNnc</string>
	<key>GCM_SENDER_ID</key>
	<string>901657959617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.here.app</string>
	<key>PROJECT_ID</key>
	<string>here-app-noel</string>
	<key>STORAGE_BUCKET</key>
	<string>here-app-noel.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901657959617:ios:5466af35cdaffd3b51c840</string>
	<key>CLIENT_ID</key>
	<string>324734787029-k4tncjavdishi6fjehm75k4hku336bgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324734787029-k4tncjavdishi6fjehm75k4hku336bgl</string>
</dict>
</plist>